<html>
<body>
    <div class="login">
       <h1>WTA Match Winner Predictor</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">

        <!--TOURNEY_ID (+ SURFACE + DRAW_SIZE + TOURNEY_LEVEL + TOURNEY_DATE)-->
        <div class="mb-3">
            <label class="form-label">Tournament ID</label>
            <input class="form-control" type="number" name="tourney_id"
                min='0' max='100' />
        </div>

        <!--P1_SEED-->
        <div class="mb-3">
            <label class="form-label">Player 1 Seed</label>
            <input class="form-control" type="number" name="tourney_id"
                min='1' max='32' />
        </div>

        <!--P1_HT-->
        <div class="mb-3">
            <label class="form-label">Player 1 Height (cm)</label>
            <input class="form-control" type="number" name="p1_ht"
                min='100' max='250' />
        </div>

        <!--P1_AGE-->
        <div class="mb-3">
            <label class="form-label">Player 1 Age</label>
            <input class="form-control" type="number" name="p1_ht"
                min='15' max='45' />
        </div>

        <!--P2_SEED-->
        <div class="mb-3">
            <label class="form-label">Player 2 Seed</label>
            <input class="form-control" type="number" name="tourney_id"
                min='1' max='32' />
        </div>

        <!--P2_HT-->
        <div class="mb-3">
            <label class="form-label">Player 2 Height (cm)</label>
            <input class="form-control" type="number" name="p1_ht"
                min='100' max='250' />
        </div>

        <!--P2_AGE-->
        <div class="mb-3">
            <label class="form-label">Player 2 Age</label>
            <input class="form-control" type="number" name="p1_ht"
                min='15' max='45' />
        </div>



        <!--PREDICTION BUTTON-->
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Winner" required />
        </div>

    </form>

    <!--PREDICTION OUTPUT-->
    <h2>
       Your predicted winner is: {{prediction}}
    </h2>
    
   <body>
</html>