<html>
<head>
    <title>WTA Match Winner Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="login">
       <h1>WTA Match Winner Predictor</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">

        <!--P1_SEED-->
        <div class="mb-3-group">
            <div class="mb-3">
                <label class="form-label">Player 1 Seed</label>
                <input class="form-control" type="number" name="p1_seed" value="1"
                    min='1' max='32' />
            </div>

            <!--P2_SEED-->
            <div class="mb-3">
                <label class="form-label">Player 2 Seed</label>
                <input class="form-control" type="number" name="p2_seed" value="3"
                    min='1' max='32' />
            </div>
        </div>

        <!--ACES-->        
        <div class="mb-3-group">
            <!--P1_ACE-->
            <div class="mb-3">
                <label class="form-label">Player 1 Aces</label>
                <input class="form-control" type="number" name="p1_ace" value="10"
                    min='0' max='35' />
            </div>

            <!--P2_ACE-->
            <div class="mb-3">
                <label class="form-label">Player 2 Aces</label>
                <input class="form-control" type="number" name="p2_ace" value="12"
                    min='0' max='35' />
            </div>
        </div>


        <!--DOUBLE FAULTS-->        
        <div class="mb-3-group">
            <!--P1_DF-->
            <div class="mb-3">
                <label class="form-label">Player 1 Double Faults</label>
                <input class="form-control" type="number" name="p1_df" value="3"
                    min='0' max='35' />
            </div>

            <!--P2_DF-->
            <div class="mb-3">
                <label class="form-label">Player 2 Double Faults</label>
                <input class="form-control" type="number" name="p2_df" value="2"
                    min='0' max='35' />
            </div>
        </div>

        <!--FIRST SERVE IN %-->
        <div class="mb-3-group">
            <!--P1_1STIN-->
            <div class="mb-3">
                <label class="form-label">Player 1 First Serve In %</label>
                <input class="form-control" type="number" name="p1_1stIn" value="56"
                    min='0' max='100' />
            </div>

            <!--P2_1STIN-->
            <div class="mb-3">
                <label class="form-label">Player 2 First Serve In %</label>
                <input class="form-control" type="number" name="p2_1stIn" value="59"
                    min='0' max='100' />
            </div>
        </div>


        <!--FIRST SERVE WON %-->
        <div class="mb-3-group">
            <!--P1_1STWON-->
            <div class="mb-3">
                <label class="form-label">Player 1 First Serve Won %</label>
                <input class="form-control" type="number" name="p1_1stWon" value="66"
                    min='0' max='100' />
            </div>

            <!--P2_1STWON-->
            <div class="mb-3">
                <label class="form-label">Player 2 First Serve Won %</label>
                <input class="form-control" type="number" name="p2_1stWon" value="61"
                    min='0' max='100' />
            </div>
        </div>


        <!--SECOND SERVE WON %-->
        <div class="mb-3-group">
            <!--P1_2NDWON-->
            <div class="mb-3">
                <label class="form-label">Player 1 Second Serve Won %</label>
                <input class="form-control" type="number" name="p1_2ndWon" value="60"
                    min='0' max='100' />
            </div>

            <!--P2_2NDWON-->
            <div class="mb-3">
                <label class="form-label">Player 2 Second Serve Won %</label>
                <input class="form-control" type="number" name="p2_2ndWon" value="74"
                    min='0' max='100' />
            </div>
        </div>


        <!--BREAK POINTS FACED-->
        <div class="mb-3-group">
            <!--P1_BPFACED-->
            <div class="mb-3">
                <label class="form-label">Player 1 Break Points Faced</label>
                <input class="form-control" type="number" name="p1_bpFaced" value = "9"
                    min='0' max='30' />
            </div>

            <!--P2_BPFACED-->
            <div class="mb-3">
                <label class="form-label">Player 2 Break Points Faced</label>
                <input class="form-control" type="number" name="p2_bpFaced" value = "8"
                    min='0' max='30' />
            </div>
        </div>


        <!--RANKING POINTS-->
        <div class="mb-3-group">
            <!--P1_RANK_POINTS-->
            <div class="mb-3">
                <label class="form-label">Player 1 Ranking Points</label>
                <input class="form-control" type="number" name="p1_rank_points" value="10025"
                    min='0' max='15000' />
            </div>
            <!--P2_RANK_POINTS-->
            <div class="mb-3">
                <label class="form-label">Player 2 Ranking Points</label>
                <input class="form-control" type="number" name="p2_rank_points" value="7508"
                    min='0' max='15000' />
            </div>
        </div>


        <!--PREDICTION BUTTON-->
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Winner" required />
        </div>

    </form>

    <!--PREDICTION OUTPUT-->
    <h2>
        Prediction: <span id="prediction-value">{{prediction}}</span>%
    </h2>
    <h2>
        <span id="interpretation">{{interpretation}}</span>
    </h2>
    
   <body>
</html>